.first{
    background-color:#4682a9;
    height: 565px;
}
.main1{
    font-size: 2rem;
}
.box1{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10vh;
}
.box2{
    display: flex;
    justify-content: center;
}
.box3{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.pic1{
   
    justify-items: center;
}
.mag{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color:#f6f4eb;
    padding-top: 15px;
}
.main1{
    display: grid;
    grid-template-rows: auto;
}
.mypic{
    border-radius:100%;
    border: 1px;
    border-style: dotted;
    height: 200px;
    width: 200px;
    border-color: #4682a9;
    
}
.second{
    background-color: #94add7;
    color: #7c73c0;
}
.image1{
    display: flex;
    justify-content: center;
    padding-bottom:20px ;
    padding-top: 40px;
}
.para1{
    height:150px;
    width:250px;
    display: inline-block;
    background-color: #7c73c0;
    align-items: center;
    color: #acfadf;
}
.cv{
    background-color: #acfadf;
    width: fit-content;
    padding: 20px;
}
h1{
    margin: 0;
}
.prof{
    text-align: center;
}
.wb2{
    display: grid;
    background-color: #7c73c0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap:auto;
    row-gap:10px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
